.incidents-summary {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  gap: 16px;
}

.box {
  flex: 1;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  border-radius: 5px;
}

.level {
  font-weight: bold;
  margin-bottom: 5px;
}

.count {
  font-size: 1.2em;
}
